<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <div class="content" role="main" style="margin-top: 0%; margin-left: 40%;">
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="cityName">
        <th mat-header-cell *matHeaderCellDef> 城市名.&nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="currentConfirmedCount">
        <th mat-header-cell *matHeaderCellDef> 待治愈案例 &nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let element"> {{element.currentConfirmedCount}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="confirmedCount">
        <th mat-header-cell *matHeaderCellDef> 确认案例 &nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let element"> {{element.confirmedCount}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="curedCount">
        <th mat-header-cell *matHeaderCellDef> 治愈案例 &nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let element"> {{element.curedCount}} </td>
      </ng-container>
      
      <ng-container matColumnDef="suspectedCount">
        <th mat-header-cell *matHeaderCellDef> 疑似案例 &nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let element"> {{element.suspectedCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
  
  <router-outlet></router-outlet>
